nav {
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;

  ul {
    display: flex;
    background-color: #343a40;
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 1.5rem;
  }
}

.nav-item {
  font-size: medium;
  z-index: 2;
  padding: 5px;
}

.nav-item:hover,
.nav-item:focus-visible {
  color: #333333;
  cursor: pointer;
  background-color: #d3d024;
  border-radius: 6px;
  margin-inline: 3rem;
  transition: 300ms;
}

h1 {
  background-color: #732cc3;
  color: white;
  position: absolute;
  left: 15px;
  top: 8px;
  height: 5rem;
  padding: 10px;
}